body {
    background-color: #F2F2F2;
}

.header {
    color: #bcbcbc;
    display: flex;
    justify-content: space-between;
    padding: 0.5em 6em;

    ul {
        display: flex;
        list-style-type: none;
    }

    ul li {
        margin: 1em;
    }

    li {
        border: none;
    }

    #css,
    #html,
    #javascript {
        padding: 0.5em 1em;
        border-radius: 5px;
    }

    #html {
        color: #FFF;
        background-color: #F16528;
        border: 1px solid #F16528;
    }

    #css {
        color: #FFF;
        background-color: #006EB9;
        border: 1px solid #006EB9;
    }

    #javascript {
        color: #000;
        background-color: #F0DA50;
        border: 1px solid #F0DA50;
    }
}

main {}
