@import url( 'https://fonts.googleapis.com/css?family=Montserrat:100,300');

body {
    background-color: #F2F2F2;

    a {
        margin: 0;
        padding: 0;
        cursor: pointer;
    }

    p {
        margin: 0;
    }

    ul {
        margin: 0;
    }

    li {
        margin: 0;
        list-style-type: none;
    }
}

.header {
    color: #bcbcbc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 6em;
}

.list-job {
    margin-top: 1em;
    text-align: center;
}

.card-layout {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.card {
    width: 300px;
    margin: 0.6em;
    background: white;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.1);
    padding: 0 0 1rem;

    .description,
    .job-title,
    .title {
        padding: 0 1rem;
    }

    .title {
        font-size: 1.75rem;
        margin: 0;
        color: #333;
        margin-top: 0.5rem;
        width: 100%;
        color: #1EAEDB;
    }

    .job-title {
        font-size: 1.25rem;
        color: #333;
        margin-top: 0.5rem;
        letter-spacing: 0.1em;
    }

    .description {
        font-size: 1.1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        color: #555;
    }

    h3 {
        letter-spacing: 0.1em;
    }

    a {
        text-decoration: none;
    }
}
