body {
    background-color: #F2F2F2;

    li {
        list-style-type: none;
    }
}

.header {
    color: #bcbcbc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 6em;

    ul {
        display: flex;
    }

    ul li {
        margin: 0 1em;
    }

    li {
        border: none;
    }

    #css,
    #html,
    #javascript {
        color: #FFF;
        padding: 0.5em 1em;
        border-radius: 5px;
    }

    #html {
        background-color: #F16528;
        border: 1px solid #F16528;
    }

    #css {
        background-color: #006EB9;
        border: 1px solid #006EB9;
    }

    #javascript {
        color: #000;
        background-color: #F0DA50;
        border: 1px solid #F0DA50;
    }
}

.list-job {
    margin-top: 1em;
    text-align: center;

    li {
        margin-top: 2.25em;
    }
}
